@model IEnumerable<OdeToFood.Models.RestaurantListViewModel>
@{
    ViewBag.Title = "Home Page";
}

<form method="get" style="text-align:center;" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#restaurantList">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Name" />
</form>

<hr />

@Html.Partial("_Restaurants", Model)